{{ 'This file is managed by Ansible.' | comment(decoration="; ") }}

[Settings]
accountId=0
singleMode=1
ringingSound=
volumeRing=100
audioRingDevice=""
audioOutputDevice=""
audioInputDevice=""
micAmplification=0
swLevelAdjustment=0
audioCodecs=PCMA/8000/1 PCMU/8000/1
VAD=0
EC=1
forceCodec=0
disableMessaging=0
rport=1
sourcePort=0
rtpPortMin=0
rtpPortMax=0
dnsSrvNs=
dnsSrv=0
STUN=
enableSTUN=0
recordingPath=Recordings
recordingFormat=
autoRecording=0
recordingButton=1
DTMFMethod=0
autoAnswer=button
autoAnswerDelay=0
denyIncoming=button
usersDirectory=
defaultAction=
enableMediaButtons=0
headsetSupport=0
localDTMF=1
enableLog=0
bringToFrontOnIncoming=1
enableLocalAccount=0
randomAnswerBox=0
crashReport=1
callWaiting=1
updatesInterval=
checkUpdatesTime=1612281174
noResize=0
userAgent=
autoHangUpTime=0
maxConcurrentCalls=0
noIgnoreCall=0
cmdOutgoingCall=
cmdIncomingCall=
cmdCallRing=
cmdCallAnswer=
cmdCallBusy=
cmdCallStart=
cmdCallEnd=
silent=0
portKnockerHost=
portKnockerPorts=
mainX=1594
mainY=471
mainW={{ microsip_settings_mainW | default('259', true) }}
mainH={{ microsip_settings_mainH | default('465', true) }}
messagesX=1111
messagesY=575
messagesW=0
messagesH=0
ringinX=0
ringinY=0
callsWidth0=0
callsWidth1=0
callsWidth2=0
callsWidth3=0
callsWidth4=0
callsWidth5=0
contactsWidth0=0
contactsWidth1=0
contactsWidth2=0
volumeOutput=100
volumeInput=100
activeTab=0
AA=0
AC=0
DND=0
alwaysOnTop=0
enableShortcuts=0
shortcutsBottom=0
lastCallNumber=
lastCallHasVideo=0
{% for item in microsip_accounts %}
[Account{{ loop.index }}]
label={{ item.label | default() }}
server={{ item.server | default( accounts_default_server ) }}
proxy=
domain={{ item.domain | default( accounts_default_domain ) }}
username={{ item.username | default() }}
password={{ item.password | default() }}
authID=
displayName={{ item.displayName | default( accounts_default_displayName ) }}
dialingPrefix=
dialPlan=
hideCID=0
voicemailNumber=
transport=udp
publicAddr=
SRTP=
registerRefresh=300
keepAlive=15
publish=0
ICE=0
allowRewrite=0
disableSessionTimer=0
{% endfor %}
